
include ../blocks/mixin/bannerCatalog
block bg
   
.wrapper-flex
    include ../blocks/sidebar-catalog
            
    section.productList
        .wrapper
            include ../blocks/breadcrumbs
            h2.page__title-h2 
                block titleH2
                    | Профессиональная косметика
            .tabs#tabs
                block here
                    | Профессиональная косметика
                include ../blocks/row-tabs-filter
               
                .tab-content.is-active
                    h2.page__title-h2 tab1
                .tab-content
                    h2.page__title-h2 tab2
            block addContent
                div some text
                -// добавить сюда блок не удаля верхний