extends ./template
block base
    base(href='../')

block append style
block content
    include ../blocks/header
    main.page
        block incContent
    include ../blocks/footer
block append script
    script(src='js/tabs.js')