section.aboutBrandBanner
        .wrapper
            .banner-catalog-wrapper
                .page__img(data-aos="fade-down-right" data-aos-duration="3000" data-aos-delay="500")
                    img(src="assets/img/flower-white.svg")
                h1.page__title-h1 О бренде
section.pageBrand
    .wrapper
        include ../blocks/mixin/breadcrumbs-mixin.pug
        +breadcrumbs-mixin(['Главная', 'О бренде'])
        section.about
            .about-wrapper
                .left
                    .page__img
                        img(src="assets/img/brand-1.png")
                .right
                    .page__img(data-aos="fade-down-right" data-aos-duration="3000" data-aos-delay="500")
                        img(src="assets/img/icon-flower.svg")
                    h2.page__title-h2 Здесь написан заголовок
                    p.page__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

