extends ../templates/template
block base
    base(href='../')
block title
    title О бренде
block append style
block content
    include ../blocks/header
    main.page
        include content
    include ../blocks/footer
block append script
    script(src='js/tabs.js')