.banner{
  position: relative;
  background-color: #d4ccc6;
  // z-index: 400;
  .slider-banner {
      background: transparent;
      position: relative;
      z-index: 100;


      .slider-inner {
        position: absolute;
        width: 600px;
        height: 500px;
        min-width: 0;
        top: 0;
        left: 26%;
        top: 25%;
        text-align: center;
        .text {
          margin: 0 auto;

          .page__title-h1 {
            margin-bottom: 27px;
          }

        }


        .button {
          position: relative;
          width: 200px;
          height: 60px;
          margin: 0 auto;
          &:hover {
            .bg-button {
              transform: translate(5%, 5%);
              transition: .5s ease-in-out;
            }
          }
    
          .page__btn_1 {
            position: relative;
            &::after {
              content: '';
              position: absolute;
              width: 98%;
              height: 1px;
              background-color: #fff;
              left: -5px;
              top: -6px;
            }
    
            &::before {
              content: '';
              position: absolute;
              width: 98%;
              height: 1px;
              background-color: #fff;
              left: -5px;
              bottom: 6px;
            }
    
    
            span {
              position: relative;
              &::before {
                content: '';
                position: absolute;
                height: 50px;
                width: 1px;
                background-color: #fff;
                left: -30px;
                top: -16px;
              }
              
              &::after {
                content: '';
                position: absolute;
                height: 50px;
                width: 1px;
                background-color: #fff;
                right: -17px;
                top: -16px;
              }
    
            }
          }
    
          .bg-button {
           
            background-color: #d4ccc6;
            width: 200px;
            height: 53px;
            margin: 0 auto;
            position: absolute;
            transition: .5s ease;
            &:hover { 
              // transform: translate(5%,5%);
              // transition: .5s ease-in-out;
            }
      
            
          }
        }
      }
      // z-index: 100;
      
      .slick-list {
          overflow: hidden;
      }
      .slick-track{
          display: flex;
      }
      .slick-arrow{
        display: flex;
        z-index: 200;
          
      }

      // #nextArrow {
      //   width: 20px;
      //   height: 20px;

      //   position: absolute;
      //   background-image: url(../assets/img/arrow-banner.svg);
      //   background-color: #000;
      //   z-index: 100;
      //   top: 130px;
        
      // }

      // #prevArrow {
      //   width: 40px;
      //   height: 40px;
      //   position: absolute;
      //   background-image: url(../assets/img/arrow-banner.svg);
      //   background-color: #000;
      //   z-index: 100;
      // }
      // .slick-dots {
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //     list-style: none;
      //     padding-top: 10%;
      // }

      .slick-dots li {
          list-style: none;
          
      }

      .slick-dots li button {
          height: 67px;
          width: 10px;
          font-size: 0;
          border-radius: 50%;
          border: transparent;
          margin: 0 40px;
          background-color: #000;               
      }

      .slick-dots li.slick-active button {
        // background-color: @color_red;
    }

    .page__img {
      img {
        width: 100%;
      }
    }
  }
  #nextArrow {
    width: 30px;
    height: 30px;
    position: absolute;
    // background-color: #000;
    top: 45.5%;
    // left: 20px;
    transform: rotate(180deg);
    right: 52px;
    z-index: 100;
    
  }

  #prevArrow {
    width: 30px;
    height: 30px;
    position: absolute;
    // background-color: #000;
    left: 52px;
    top: 50%;
    z-index: 100;
  }
  
  &-description {
    position: absolute;
    text-align: center;
    z-index: 10;
    margin: 0 auto;
    top: 22%;
    bottom: 0;
    right: 0;
    left: 0;

    .text {
      width: 566px;
      margin: 0 auto;

      .page__title-h1 {
        margin-bottom: 27px;

      }

      .page__text_montserSemiBold {
        margin-bottom: 36px;
      }

    }

    .button {
      position: relative;
      width: 200px;
      height: 60px;
      margin: 0 auto;
      &:hover {
        .bg-button {
          transform: translate(5%, 5%);
          transition: .5s ease-in-out;
        }
      }

      .page__btn_1 {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 98%;
          height: 1px;
          background-color: #fff;
          left: -5px;
          top: -6px;
        }

        &::before {
          content: '';
          position: absolute;
          width: 98%;
          height: 1px;
          background-color: #fff;
          left: -5px;
          bottom: 6px;
        }


        span {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            height: 50px;
            width: 1px;
            background-color: #fff;
            left: -30px;
            top: -16px;
          }
          
          &::after {
            content: '';
            position: absolute;
            height: 50px;
            width: 1px;
            background-color: #fff;
            right: -17px;
            top: -16px;
          }

        }
      }

      .bg-button {
       
        background-color: #d4ccc6;
        width: 200px;
        height: 53px;
        margin: 0 auto;
        position: absolute;
        transition: .5s ease;
        &:hover { 
          // transform: translate(5%,5%);
          // transition: .5s ease-in-out;
        }
  
        
      }
    }
  }
}