.brands {

    .text {
        width: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .page__title-h2 {
            text-align: center;

            margin: 10px 0 84px 0;
        }
    }

    .brands-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .page__img {

            svg path:hover {
                color: #000;
            }

            svg:hover {
                
                stroke: #000;
            }
            
        }
    }
}