.breadcrumbs {
    padding: 67px 0 50px 0;
    

    .laptopMd-block({
        width: 800px;
      });

      .fabletBig-block({
        width: 400px;
    });

    .sm-block({
        width: 100%;
        padding: 20px 0 30px 0;

    });


    .breadcrumbs-wrapper {
        display: flex;
        align-items: center;

        .item-breadcrumb {
            display: flex;
            align-items: center;
            margin-right: 20px;

            position: relative;

            &:not(:last-child) {
                
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-image: url(../assets/img/arrow-small-black.svg);
                    background-repeat: no-repeat;
                    right: -10px;
                    transform: rotate(90deg);
    
                }
            }

            
    
            // .page__img {
            //     transform: rotate(90deg);
            // }
        }
    }

    

    .page__text_sm {
        margin-right: 10px;
        position: relative;

        
    }
}