.footer {
    padding: 120px 0 20px 0;
    overflow: hidden;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        position: relative;
        padding: 0 20px;

        .sm-block({
            flex-direction: column;
        });
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #68745c;

            bottom: -30px;

            opacity: .4;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;

            max-width: 250px;
            .laptopMd-block({
                padding-left: 30px;
            });
            .sm-block({
                margin-bottom: 60px;
            });

            .xs-block({
                padding-left: 0;
            });
            .page__img {
                margin-bottom: 10px;
            }
        }

        .left-mid {
            height: 168px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .sm-block({
                margin-bottom: 50px;
            });

            .hover-bg-grey {
                &:hover {
                    background-color: #e9ebe7;
                    opacity: .4;

                    
                }
            }

            .page__text_sm:hover {
                color: #68745c;
            }
        }

        .right-mid {
            height: 168px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .sm-block({
                margin-bottom: 50px;
            });

            .hover-bg-grey {
                &:hover {
                    background-color: #e9ebe7;
                    opacity: .4;
                }
            }
        }

        .right {
            height: 158px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 310px;

            // .page__text_sm {
            //     margin-bottom: 20px;
            // }

            .row {
                display: flex;
                align-items: center;

                .page__img {
                    margin-right: 10px;
                }
            }
        }
    }

    .copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        .sm-block({
           flex-direction: column;
           padding: 20px;
        });
        .right {
            display: flex;
            align-items: center;
            padding: 20px;
            .page__text_sm {
                margin-right: 19px;
            }

            .page__img {
                margin: 0px 10px;
            }
        }
    }
}