.header{


    .mob {
        padding: 25px;
        display: none;

        .sm-block({
            display: block;
        });
        .header-mob-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .right {
                display: flex;
                align-items: flex-end;

                .mob-burger {
                    button {
                        background: transparent;
                        border: transparent;
                    }
                    .page__img {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    
    .bg-grey {
        background-color: #f6f6f6;
       
    }
    .bg-white {
        background-color: #fff;
    }
    .nav-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        .sm-block({
            display: none;
        });

        .left {
            display: flex;
            align-items: center;
            position: relative;
            
            .bg_white {
                
                padding: 7px 0;
                &:hover {
                    background-color: #fff;
                    
                }
                
            }
            .page__link {
                
                margin: 0px 22.5px;
                

                &:hover {
                    background-color: #fff;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            .page__link {
                font-family: "@{Montserrat}-Italic";
                margin: 0 5px 0 15px;
            }

            .counter {
                font-family: "@{Montserrat}-Italic";
                font-size: 13px;
            }
        }
    }
    
    .nav-mid {
        padding: 48px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .sm-block({
            display: none;
        });


        .left {
            width: 200px;

            .phone-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 4px;

                .page__img {
                    margin-right: 18px;
                }

                .page__link {
                    font-family: "@{Montserrat}-Bold";
                    font-size: 16px;
                    color: #2f3327;

                }
            }

            .page__text_sm {
                opacity: .6;
            }
        }

        .mid {
            width: 200px;
        }

        .right {
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .page__link {
                font-family: "@{Montserrat}-Bold";
                font-size: 16px;
                margin-left: 20px;
                color: #2f3327;

            }
        }
    }

    .nav-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 32px;

        

        .sm-block({
            display: none;
        });


        // overflow: hidden;
        .left {
            margin-right: 20px;
            display: flex;
            align-items: center;
            .page__catalog {
                font-family: "@{Montserrat}-Bold";
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                color: #2f3327;
                
            }

            .burger {
                position: relative;
                transition: .6s ease-in-out;
                
                button {
                    background: transparent;
                }
                .icon {
                    width: 35px;
                    height: 28px;
                    position: relative;
                    top: 5px;
                    margin-left: 0;
                    margin-right: 16px;
                    background: transparent;
                    border: transparent;
                    // filter: drop-shadow(-5px -6px 14px #E323BE), drop-shadow(6px 6px 14px #00FFFF), drop-shadow(1px 1px 0px #00FFFF);
                    cursor: pointer;
                    z-index: 4000;
                    span {
                        display: block;
                        position: absolute;
                        height: 3px;
                        width: 100%;
                        border-radius: 9px;
                        left: 0;
                        transform: rotate(0deg);
                        transition: .25 ease;
                        color: #fff;
                        background-color: #2f3327;
                        transition: .3s ease-in-out;
                        &:nth-child(1){
                            top: 0;
                            height: 1.5px;
                            &::after {
                                content: '';
                                position: absolute;
                                left: 3px;
                                top: 3px;
                                display: inline-block;
                                width: 48px;
                                height: 3px;
                                background-color: transparent;
                                z-index: 5;
                            }
                            
                            
                        }
                        &:nth-child(2){
                            top: 6px;
                            z-index: 10;
                            height: 1.5px;

                            &::after {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                
                                left: 3px;
                                top: 3px;
                                height: 3px;
                                background-color: transparent;
                                z-index: 5;
                                // width: 48px;
                                width: 34px;
                                height: 1px;
                            }
                        }
                        &:nth-child(3){
                            top: 6px;
                            height: 1.5px;
                        }
                        &:nth-child(4){
                            top: 12px;
                            z-index: 10;
                            width: 21px;
                            height: 1.5px;
                            &::after {
                                content: '';
                                position: absolute;
                                left: 3px;
                                top: 3px;
                                display: inline-block;
                                width: 48px;
                                height: 3px;
                                background-color: transparent;
                                z-index: 5;
                            }
                        }

                        
                    }
                    &.active {
                        transition: .2s ease;
                        
                        span {
                            z-index: 20;
                            &:nth-child(1){
                                top: 18px;
                                width: 0%;
                                left: 50%;
                                z-index: 10;
                                display: none;
                                transition: .1s ease-in-out;
                            };
                            &:nth-child(2){
                                transform: rotate(45deg);
                                z-index: 10;
                                transition: .1s ease-in-out;
                                width: 25px;
                                height: 1px;
                            };
                            &:nth-child(3){
                                transform: rotate(-45deg);
                                z-index: 10;
                                transition: .1s ease-in-out;
                                width: 25px;
                                height: 1px;
                            };
                            &:nth-child(4){
                                top: 18px;
                                width: 0%;
                                left: 50%;
                                z-index: 10;
                                transition: .1s ease-in-out;
                                &::after {
                                    display: none;
                                    transition: .1s ease-in-out;
                                }
                            };
                        }
                    }
                    
                }
                .other{
                    // display: none;
                    position: absolute;
                    top: 65px;
                    max-height: 1200px;
                    width: 1362px;
                    overflow: hidden;
                    left: 0px;
                    z-index: 4300;
                    // background: rgba(39, 39, 39, 0.6);
                    visibility: hidden;

                    .laptopMd-block({
                        width: 1260px;
                    });
                    .laptopMini-block({
                        width: 1170px;
                    });
                    .ipad-block({
                        width: 970px;
                    });
                    .fabletBig-block({
                        width: 890px;
                    });
                    .fabletMid-block({
                        width: 800px;
                    });
                    .inner {
                        opacity: 0;
                        z-index: 4300;
                        overflow: hidden;
                        background-color: #e5e5e5;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        padding-bottom: 30px;
                        visibility: hidden;

                        .col {
                            display: flex;
                            flex-direction: column;
                            padding-top: 25px;


                            .row {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 1200px;



                                .laptopMini-block({
                                    width: 1000px;
                                });
                                .ipad-block({
                                    width: 840px;
                                });

                                .fabletBig-block({
                                    width: 760px;
                                });
                            }

                            .page__title-h2 {
                                margin-bottom: 40px;
                            }

                            .page__text_sm {
                                text-transform: uppercase;
                                color: #2f3327;
                                position: relative;
                                margin-bottom: 40px;

                                font-family: "@{Montserrat}-Semibold";

                                &::after {
                                    content: '';
                                    position: absolute;
                                    width: 68px;
                                    height: 1px;
                                    background-color: #9ca896;
                                    left: 0;
                                    bottom: -30px;
                                }
                            }


                            .links-wrapper {
                                display: flex;
                                align-items: flex-start;
                                

                                .left {
                                    flex-direction: column;
                                    align-items: flex-start;
                                    margin-right: 150px;

                                    .laptopMini-block({
                                        margin-right: 50px;
                                    });

                                    .page__text {
                                        margin-bottom: 17px;
                                    }
                                    
                                }

                                .left-mid {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    margin-right: 150px;

                                    .laptopMini-block({
                                        margin-right: 50px;
                                    });

                                    .page__text {
                                        margin-bottom: 17px;
                                    }
                                }

                                .right-mid {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    margin-right: 90px;

                                    .laptopMini-block({
                                        margin-right: 50px;
                                    });

                                    .page__text {
                                        margin-bottom: 17px;
                                    }
                                }

                                .right {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    .page__text {
                                        margin-bottom: 17px;
                                    }
                                }
                            }
                        }
                        
                        transition: all 1s ease;
                        &.active {
                            opacity: 1;
                            // z-index: 4800;
                            overflow: hidden;
                            visibility: visible;

                            
                        }   
                    }
                }
               
            }
        }

        .mid {

            display: flex;
            align-items: center;

            

            .hover-bg-grey {
                
                &:hover {
                    background-color:#e9ebe7;;
                }

                .icon-heart {
                    position: relative;

                    &::after {
                        content: '';
                        width: 43px;
                        height: 38px;
                        background-image: url(../assets/img/red-heart-icon.svg);
                        background-repeat: no-repeat;
                        position: absolute;
                        top: -10px;

                    }
        
                }

                .page__link {


                    font-family: "@{Montserrat}-Bold";
                    font-size: 14px;
                    line-height: 17px;
                    margin: 0 17px;
                    position: relative;
                    color:#2f3327;
                    transition: .3s ease-in-out;

                    .laptopMiddle-block({
                        margin: 0 10px;
                    });

                    .laptopMd-block({
                        font-size: 12px;
                    });

                    .laptopMini-block({
                        font-size: 10px;
                    });

                    
                    .ipad-block({
                        font-size: 8px;
                    });
                    
    
                    &:hover {
                        color: #9ca896;
                        transition: .3s ease-in-out;
                    }
                }
            }
        }

        .right {
            .form {
                display: flex;
                align-items: center;
                // position: relative;
                input {
                    font-family: "@{Montserrat}-Bold";
                    font-size: 13px;
                    line-height: 15px;
                    color: #2f3327;
                    opacity: .6;
                    position: relative;
                    border: transparent;
                    width: 130px;

                    &.active {
                        width: 500px;
                        
                    }   
                }

                // input.search:focus {
                //     border: 1px solid red;
                // }

                .focus {
                   width: 1100px;
                   z-index: 4900;
                //    position: fixed;
                    position: absolute;
                   left: 0;
                   left: 344px;
                   top: 200px;
                   backdrop-filter: blur(150px);
                   background-color: #fff;
                   transition: all .3s ease-in-out;
                    height: 70px;
                    opacity: 1;

                    .laptopMiddle-block({
                        left: 250px;
                    });

                    .laptopMd-block({
                        width: 900px;
                    });

                    .laptopMini-block({
                        width: 800px;
                    });

                    .ipad-block({
                        width: 700px;
                    });

                    .fabletMid-block({
                        width: 600px;
                        left: 158px;
                    });
                }

                // input:focus {
                //     border-color: red;
                // }

                button {
                    width: 43px;
                    height: 38px;
                    background-color: #699c3f;
                    background-image: url(../assets/img/search-icon.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    border: transparent;
                }
            }
        }
    }
}