.pageCatalog {
    background-image: url(../assets/img/professional-cosmetic-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0 89px 0;

    .xs-block({
        background-image: url(../assets/img/bg-prof-cosmetic-mob.png);
        background-repeat: no-repeat;
        background-size: cover;
    });

    .banner-catalog-wrapper {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }

    .page__title-h1 {

        position: relative;

        .xs-block({
            text-align: center;
            font-size: 35px;
            line-height: 40px;
        });

        &::after {
            content: '';
            position: absolute;
            width: 68px;
            height: 1px;
            background-color: #fff;
            bottom: -30px;
            left: 45%;
        }
    }
}