include ../blocks/mixin/bannerCatalog
+bannerCatalog("../assets/img/pageCatalog-bg.png", 'Профессиональная косметика')
.wrapper-flex
    section.sidebar-catalog
        .wrapper
            .sidebar-catalog-wrapper
                .row-name
                    p.page__text_gilroy_sm Категория
                    .arrowBtn
                        button(type="button" onclick="openCategory()")#arrowBtn
                            .page__img
                                img(src="assets/img/arrow-small-black.svg")
                .wrapper-inner-checkbox#innerCheckbox
                    .innerCheckbox
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb1") 
                                label(for="cb1") 
                            p.page__text_14 Скрабы для тела
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb2") 
                                label(for="cb2") 
                            p.page__text_14 Маски для тела
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb3") 
                                label(for="cb3") 
                            p.page__text_14 Соли для ванн
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb4") 
                                label(for="cb4") 
                            p.page__text_14 Антицеллюлитные крема
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb5") 
                                label(for="cb5") 
                            p.page__text_14 Скраб для маникюра/педикюра
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb6") 
                                label(for="cb6") 
                            p.page__text_14 Крем после депиляции
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb7") 
                                label(for="cb7") 
                            p.page__text_14 Крем для маникюра/педикюра
                .row-name
                    p.page__text_gilroy_sm Бренды
                    .arrowBtnBrand
                        button(type="button" onclick="openCategoryBrand()")#arrowBtnBrand
                            .page__img
                                img(src="assets/img/arrow-small-black.svg")
                .wrapper-inner-brand#innerBrand
                    .innerBrand
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb8") 
                                label(for="cb8") 
                            p.page__text_14 HRISTINA PROFESSIONAL
                        .row-checkbox-name
                            .checkbox
                                input(type="checkbox" id="cb9") 
                                label(for="cb9") 
                            p.page__text_14 SEZMAR PROFESSIONAL
    section.productList
        .wrapper
            include ../blocks/breadcrumbs
            h2.page__title-h2 Профессиональная косметика
            
include ../blocks/subscribe
include ../blocks/second-subscribe