section.pageCatalog
    .wrapper
        .banner-catalog-wrapper
            .page__img
                img(src="assets/img/icon-flower.svg")
            h1.page__title-h1 Профессиональная косметика
        include ../blocks/subscribe
        include ../blocks/second-subscribe