section.about-second
    .wrapper-1370
        .about-second-wrapper
            .left
                .page__img(data-aos="fade-down-right" data-aos-duration="3000" data-aos-delay="500")
                    img(src="assets/img/icon-flower.svg")
                h2.page__title-h2 Что такое косметика Hristina
                p.page__text Hristina Cosmetics (Христина Косметикс) - это европейская косметическая компания с более чем 20-летней историей успеха, производство которой основано исключительно на натуральных компонентах.
                .button
                    .bg-button
                    a(href="#")
                        button.page__btn_1 <span> Подробнее
            .right
                .page__img
                    img(src="assets/img/about-second.png")
                
