section.about
    .wrapper
        .about-wrapper
            .left
                .page__img
                    img(src="assets/img/about.png")
            .right
                .page__img(data-aos="fade-down-right" data-aos-duration="3000" data-aos-delay="500")
                    img(src="assets/img/icon-flower.svg")
                h2.page__title-h2 Hristina cosmetics - это
                p.page__text Hristina Cosmetics (Христина Косметикс) - это европейская косметическая компания с более чем 20-летней историей успеха, производство которой основано исключительно на натуральных компонентах.
                .item-wrapper-about
                    .item-about
                        .page__img(data-aos="zoom-in" data-aos-duration="800" data-aos-delay="500")
                            img(src="assets/img/item-about-1.svg")
                        p.page__text Наивысший эффект от использования косметических средств достигается благодаря 100% натуральным экстрактам
                    .item-about
                        .page__img(data-aos="zoom-in" data-aos-duration="800" data-aos-delay="500")
                            img(src="assets/img/item-about-2.svg")
                        p.page__text Косметика абсолютно безопасна для здоровья, не тестируется на животных и не вызывает привыкания

