section.advantages
    .wrapper-1370
        .advantages-wrapper
            .item-advantages(data-aos="zoom-in" data-aos-duration="400" data-aos-delay="200")
                .page__img
                    img(src="assets/img/safety-icon.svg")
                p.page__text_solena Забота о здоровье
                p.page__text_w Только натуральные, безопасные компоненты в составе всех продуктов.
            .item-advantages(data-aos="zoom-in" data-aos-duration="400" data-aos-delay="200")
                .page__img
                    img(src="assets/img/advantage-item-2.svg")
                p.page__text_solena Высокое качество 
                p.page__text_w 20 лет на рынке Европы. 100% натуральный состав продукции.
            .item-advantages(data-aos="zoom-in" data-aos-duration="400" data-aos-delay="200")
                .page__img
                    img(src="assets/img/advantage-item-3.svg")
                p.page__text_solena Финансовая доступность
                p.page__text_w Уникальная авторская рецептура и высокое качество по отличным ценам.
                
