section.banner
    .banner-description
        .wrapper
            .text
                h1.page__title-h1 Легенда<br> болгарской органики
                p.page__text_montserSemiBold Натуральная косметика для ухода за лицом, волосами и телом
            .button
                .bg-button
                a(href="#")
                    button.page__btn_1 <span> Посмотреть каталог
    .slider-banner
        //- #prevArrow
        //-     img(src="assets/img/arrow-banner.svg")
        //- #nextArrow
        //-     img(src="assets/img/arrow-banner.svg")
        .page__img
            img(src="assets/img/banner-slider.png")
        .page__img
            img(src="assets/img/banner-slider.png")
    .prevArrow#prevArrow
        img(src="assets/img/arrow-banner.svg")
    .nextArrow#nextArrow
        img(src="assets/img/arrow-banner.svg")
        
        
    
