section.banner
    //- .banner-description
    //-     .wrapper
    //-         //- .text
    //-         //-     h1.page__title-h1 Легенда<br> болгарской органики
    //-         //-     p.page__text_montserSemiBold Натуральная косметика для ухода за лицом, волосами и телом
    //-         //- .button
    //-         //-     .bg-button
    //-         //-     a(href="#")
    //-         //-         button.page__btn_1 <span> Посмотреть каталог
    .slider-banner
        .slide
            .page__img
                img(src="assets/img/banner-slider.png")
                .text
                    h1.page__text_solena Легенда<br> болгарской органики
                    p.page__text_montserSemiBold Натуральная косметика для ухода за лицом, волосами и телом
                    .button
                        .bg-button
                        a(href="pageCatalog/pageCatalog.html")
                            button.page__btn_1 <span> Посмотреть каталог
        .slide
            .page__img
                img(src="assets/img/slide-2-banner.png")
                .text-2
                    h1.page__title-h1 100% натуральная свеча<br> для массажа
                    p.page__text_montserSemiBold Смотрите продукцию с натуральным составом по уходу за вашим телом
                    .button
                        .bg-button
                        a(href="collectionLovePage/collectionLovePage.html")
                            button.page__btn_1 <span> Выбрать свечу
        .slide
            .page__img
                img(src="assets/img/slide-3-banner.png")
                .text-3
                    h1.page__title-h1 Всё для гладкости вашей кожи
                    p.page__text_montserSemiBold Отличный способ снять усталость, расслабить тело, успокоить ум и настроиться на романтический лад
                    .button
                        .bg-button
                        a(href="bodyCarePage/bodyCarePage.html")
                            button.page__btn_1 <span> Смотреть
    .prevArrow#prevArrow
        img(src="assets/img/arrow-banner.svg")
    .nextArrow#nextArrow
        img(src="assets/img/arrow-white-right.svg")
        
        
    
