section.brands
    .wrapper-1370
        .text
            .page__img
                img(src="assets/img/icon-flower.svg")
            h2.page__title-h2 Сертифицированные бренды производителя
        .brands-wrapper
            .page__img
                img(src="assets/img/brands-item-1.svg")
            .page__img
                img(src="assets/img/brands-item-2.svg")
            .page__img
                img(src="assets/img/brands-item-3.svg")
            .page__img
                img(src="assets/img/brands-item-4.svg")