section.breadcrumbs
    .breadcrumbs-wrapper
        .item-breadcrumb
            a(href="").page__text_sm Главная 
            .page__img
                img(src="assets/img/arrow-small-black.svg", alt="")
        .item-breadcrumb
            a(href="").page__text_sm Профессиональная косметика
            .page__img
                img(src="assets/img/arrow-small-black.svg", alt="")
    