section.collection-love
    .wrapper
        .text
            p.page__text_solena Коллекция “Love”
            p.page__text_15 Новая коллекция по уходу за телом
            .button
                .bg-button
                a(href="#")
                    button.page__btn_1 <span> Смотреть коллекцию
