section.feedback
    .bg-grey
        .wrapper
            .text
                p.page__text_solena Отзывы
                h2.page__title-h2 Наши счастливые клиенты
        .feedback-slider
            .feedback-slider-item
                .text
                    p.page__text_lightItalic “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                    p.page__text_15 Имя Фамилия
            .feedback-slider-item
                .text
                    p.page__text_lightItalic “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                    p.page__text_15 Имя Фамилия
            .feedback-slider-item
                .text
                    p.page__text_lightItalic “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”
                    p.page__text_15 Имя Фамилия
    .prevArrow#prevArrow-4
        img(src="assets/img/arrow-black-left.svg")
    .nextArrow#nextArrow-4
        img(src="assets/img/arrow-black-right.svg")