footer.footer
    .wrapper-1465
        .footer-wrapper
            .left
                a(href="../")
                    .page__img
                        img(src="assets/img/logo.svg", alt="")
                p.page__text_sm Легенда болгарской органики
            .left-mid
                p.page__text_gilroy_sm Актуальное
                .hover-bg-grey
                    a(href="").page__text_sm Главная страница
                .hover-bg-grey
                    a(href="pageCatalog/pageCatalog.html").page__text_sm Каталог
                .hover-bg-grey
                    a(href="").page__text_sm О бренде
                .hover-bg-grey
                    a(href="").page__text_sm Контакты
            .right-mid
                p.page__text_gilroy_sm Условия работы
                .hover-bg-grey
                    a(href="").page__text_sm Условия работы
                .hover-bg-grey
                    a(href="pageDeliveryPay/pageDeliveryPay.html").page__text_sm Доставка/Оплата
                .hover-bg-grey
                    a(href="").page__text_sm Обмен/Возврат
                .hover-bg-grey
                    a(href="").page__text_sm Для Сертификаты
            .right
                p.page__text_gilroy_sm Способы оплаты
                p.page__text_sm Вы можете оплатить свой заказ через наш сайт с помошью таких сервисов:
                .row
                    .page__img
                        img(src="assets/img/visa-icon.svg")
                    .page__img
                        img(src="assets/img/master-card-icon.svg")
        .copyright
            .left
                p Hristina 2020. Все права защищены.
            .right
                p.page__text_sm Подпишитесь на нас:
                a(href="https://www.instagram.com/hristina.cosmetics/")
                    .page__img
                        img(src="assets/img/instagram-icon.svg")
                a(href="")
                    .page__img
                        img(src="assets/img/vk-icon.svg")
            