header.header
    .mob
        .header-mob-wrapper
            .left
                a(href="../")
                    .page__img
                        img(src="assets/img/logo-mob.svg", alt="")
            .right
                .basket
                    img(src="assets/img/basket-icon.svg", alt="")
                .mob-burger
                    button(type="button" onclick="openBlock()")#burgerMob
                        .page__img
                            img(src="assets/img/icon-mob-menu.svg", alt="")
                        #innerMobile.innerMobile
                            .innerMob
                                
    .bg-grey
        .wrapper
            nav.nav-top
                .left
                    .bg_white
                        a(href="#").page__link Акции / Скидки
                    .bg_white
                        a(href="pageBrand/pageBrand.html").page__link О бренде
                    .bg_white
                        a(href="pageContacts/pageContacts.html").page__link Контакты
                    .bg_white
                        a(href="pageDeliveryPay/pageDeliveryPay.html").page__link Доставка / Оплата
                .right
                    .page__img
                        img(src="assets/img/heart-icon.svg", alt="")
                    a(href="#").page__link Список желаний 
                    .counter (0)
    .bg-white
        .wrapper
            nav.nav-mid
                .left
                    .phone-wrapper
                        .page__img
                            img(src="assets/img/phone-icon.svg", alt="")
                        a(href="").page__link +7 915 358-55-77
                    p.page__text_sm Ежедневно с 10:00 до 18:00
                .mid
                    a(href="../")
                        .page__img
                            img(src="assets/img/logo.svg", alt="")
                .right
                    .basket
                        img(src="assets/img/basket-icon.svg", alt="")
                    a(href="pageBasket/pageBasket.html").page__link Корзина
            nav.nav-bottom
                .left
                    .burger
                        button(type="button" onclick="openBlock()")#burgerBtn.icon
                            span
                            span
                            span
                            span
                        #other.other
                            .inner
                                .wrapper
                                    .col
                                        .page__img
                                            img(src="assets/img/icon-flower.svg")
                                        h2.page__title-h2 Каталог
                                        .row
                                            p.page__text_sm Продукция
                                            p.page__text_sm брэнды
                                        .links-wrapper
                                            .left
                                                a(href="").page__text Скрабы для тела
                                                a(href="").page__text Маски для тела
                                                a(href="").page__text Массажные масла
                                                a(href="").page__text Массажные крема
                                                a(href="").page__text Соли для ванн
                                                a(href="").page__text Антицеллюлитные крема
                                                a(href="").page__text Скраб для маникюра/педикюра
                                                a(href="").page__text Крем после депиляции
                                                a(href="").page__text Крем для маникюра/педикюра
                                                a(href="").page__text Классические крема для лица
                                                a(href="").page__text Крема ручной работы для лица
                                                a(href="").page__text Крема вокруг глаз
                                                a(href="").page__text Ночные крема
                                                a(href="").page__text Дневные крема
                                            .left-mid
                                                a(href="").page__text Крема для 24-часового применения
                                                a(href="").page__text Маски для лица
                                                a(href="").page__text Сыворотки для лица
                                                a(href="").page__text Сыворотки вокруг глаз
                                                a(href="").page__text Очищающее молочко для лица
                                                a(href="").page__text Скрабы для лиц
                                                a(href="").page__text Бальзамы для губ
                                                a(href="").page__text Крема для тела
                                                a(href="").page__text Антицеллюлитные крема для тела
                                                a(href="").page__text Крема для рук и ног
                                                a(href="").page__text Лосьоны для тела
                                                a(href="").page__text Гели для душа
                                                a(href="").page__text Скрабы для тела
                                                a(href="").page__text Масла для рук и ног
                                            .right-mid
                                                a(href="").page__text Солнцезащитные спреи
                                                a(href="").page__text Массажные масла
                                                a(href="").page__text Твердые масла
                                                a(href="").page__text Жидкое мыло
                                                a(href="").page__text Массажные свечи
                                                a(href="").page__text Шампуни
                                                a(href="").page__text Гели для душа и волос
                                                a(href="").page__text Маски для волос
                                                a(href="").page__text Кондиционеры для волос
                                                a(href="").page__text Массажные свечи
                                                a(href="").page__text Товары для ухода за лицом
                                                a(href="").page__text Многоразовые ЭКО-товары
                                                a(href="").page__text Для мужчин
                                                a(href="").page__text Подарочные наборы
                                            .right
                                                a(href="").page__text HRISTINA PROFESSIONAL
                                                a(href="").page__text SEZMAR PROFESSIONAL
                                                a(href="").page__text HRISTINA
                                                a(href="").page__text DR DEREHSAN
                                                a(href="").page__text SM CRYSTAL
                                                a(href="").page__text SAYAZ
                                                a(href="").page__text STANI CHEF'S
                                                a(href="").page__text SEZMAR LOVE
                                                a(href="").page__text SEZMAR PURE
                                                a(href="").page__text NATURALLY
                                                a(href="").page__text SEZMAR LOVE
                                                a(href="").page__text NB-ECO
                    p.page__catalog Каталог
                .mid
                    .hover-bg-grey
                        a(href="bodyCarePage/bodyCarePage.html").page__link Уход за телом
                    .hover-bg-grey
                        a(href="faceCarePage/faceCarePage.html").page__link Уход за лицом
                    .hover-bg-grey
                        a(href="hairCarePage/hairCarePage.html").page__link Уход за волосами
                    .hover-bg-grey
                        a(href="collectionLovePage/collectionLovePage.html").page__link.icon-heart Коллекция “Любовь”
                    .hover-bg-grey
                        a(href="pageCatalog/pageCatalog.html").page__link Профессиональная косметика
                    .hover-bg-grey
                        a(href="eco-products-page/eco-products-page.html").page__link ЭКО-товары
                .right
                    form.form(action="")
                        p
                            input(type="search" placeholder="Поиск" class="search" onfocus="this.className='focus'" onblur="this.className='search'")#searchInput
                        button(type="submit")
