section.instagram
    .wrapper
        .text
            p.page__text_solena Подписывайтесь
            h2.page__title-h2 Мы в инстаграм
            a(href="https://www.instagram.com/hristina.cosmetics/").page__link @hristina.cosmetics
    .instagram-slider
        .instagram-item
            a(href="https://www.instagram.com/hristina.cosmetics/")
                .page__img
                    img(src="assets/img/instagram-item-1.png")
        .instagram-item
            a(href="https://www.instagram.com/hristina.cosmetics/")
                .page__img
                    img(src="assets/img/instagram-item-2.png")
        .instagram-item
            a(href="https://www.instagram.com/hristina.cosmetics/")
                .page__img
                    img(src="assets/img/instagram-item-3.png")
        .instagram-item
            a(href="https://www.instagram.com/hristina.cosmetics/")
                .page__img
                    img(src="assets/img/instagram-item-4.png")
        .instagram-item
            a(href="https://www.instagram.com/hristina.cosmetics/")
                .page__img
                    img(src="assets/img/instagram-item-5.png")
        .instagram-item
            a(href="https://www.instagram.com/hristina.cosmetics/")
                .page__img
                    img(src="assets/img/instagram-item-1.png")
        .instagram-item
            a(href="https://www.instagram.com/hristina.cosmetics/")
                .page__img
                    img(src="assets/img/instagram-item-2.png")
        .instagram-item
            a(href="https://www.instagram.com/hristina.cosmetics/")
                .page__img
                    img(src="assets/img/instagram-item-3.png")
        .instagram-item
            a(href="https://www.instagram.com/hristina.cosmetics/")
                .page__img
                    img(src="assets/img/instagram-item-4.png")
        .instagram-item
            a(href="https://www.instagram.com/hristina.cosmetics/")
                .page__img
                    img(src="assets/img/instagram-item-5.png")
    //- .prevArrow#prevArrow-5
    //-     img(src="assets/img/arrow-black-left.svg")
    //- .nextArrow#nextArrow-5
    //-     img(src="assets/img/arrow-black-right.svg")
