section.leaders
    .wrapper-1465
        .leaders-top-wrapper
            .page__img
                img(src="assets/img/icon-flower.svg")
            h2.page__title-h2 Лидеры продаж
        .leaders-item-slider
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-1.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-2.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-3.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-4.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-5.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-1.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-2.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-3.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-4.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-5.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            
        .prevArrow#prevArrow-2
            img(src="assets/img/arrow-black-left.svg")
        .nextArrow#nextArrow-2
            img(src="assets/img/arrow-black-right.svg")
                
