section.products
    .wrapper-1465
        .products-top-wrapper
            .page__img
                img(src="assets/img/icon-flower.svg")
            h2.page__title-h2 Продукция
        .products-item-slider
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-1.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-2.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-3.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-4.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-5.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-1.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-2.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-3.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-4.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
            a(href="#")
                .leader-item
                    .page__img
                        img(src="assets/img/leaders-item-5.png")
                    .text
                        p.page__text_19 Янтарный ночной крем дальше описание
                        p.page__text_sm_bold Крем для лица
                        p.page__text_15 1920 ₽
        .prevArrow#prevArrow-3
            img(src="assets/img/arrow-black-left.svg")
        .nextArrow#nextArrow-3
            img(src="assets/img/arrow-black-right.svg")
        .button
            .bg-button
            a(href="#")
                button.page__btn_1 <span> Cмотреть каталог