section.second-subscribe
    .wrapper-1370
        .second-subscribe-wrapper
            .left
                .second-subscribe-item(data-aos="zoom-in" data-aos-duration="400" data-aos-delay="200")
                    .page__img
                        img(src="assets/img/phone-icon-white.svg")
                    p.page__text_gilroy_sm Контакты
                    a(href="+7-906-742-88-28").page__text_19 + 7 906 742 88 28
                    a(href="zakaz@hristina.ru").page__text zakaz@hristina.ru
                .second-subscribe-item(data-aos="zoom-in" data-aos-duration="400" data-aos-delay="200")
                    .page__img
                        img(src="assets/img/clock-icon-white.svg")
                    p.page__text_gilroy_sm Время работы
                    a(href="+7-906-742-88-28").page__text_19 Работаем без выходных 
                    a(href="zakaz@hristina.ru").page__text с 10:00 до 22:00
            .right(data-aos="zoom-in" data-aos-duration="400" data-aos-delay="200")
                p.page__text_gilroy_sm Подпишитесь на рассылку
                p.page__text_sm Чтобы первыми узнавать о новинках, акциях и актуалной информации
                .row
                    form.form(action="")
                        input(type="text" placeholder="Ваш Email...")
                    .button
                        .bg-button
                        a(href="#")
                            button.page__btn_1 <span> Подписаться



    