section.subscribe
    .wrapper
        .bg-grey
            p.page__text_solena Подпишитесь на рассылку
            p.page__text_gilroy_sm Узнавайте первыми о новинках, акциях и актуалной информации
            form.form(action="")
                input(type="text" placeholder="Ваш Email")
            .button
                .bg-button
                a(href="#")
                    button.page__btn_1 <span> Подписаться

