extends ../templates/categories
block bg
    +bannerCatalog("../assets/img/pageCatalog-bg.png", 'pageCatalog-3')
block titleH2
    | косметика 3

block here
    h1.page__title-h1(style="color:#000") title H1
block append addContent
    div text added
