section.pageBasket
    .wrapper
        include ../blocks/mixin/breadcrumbs-mixin.pug
        +breadcrumbs-mixin(['Главная', 'Корзина'])
        .pageBasket-wrapper
            .left-side
                .row-name-price-number
                    .left
                        p.page__text_gilroy_16 Наименование товара
                    .right
                        p.page__text_gilroy_16 Цена
                        p.page__text_gilroy_16 Кол-во
                        p.page__text_gilroy_16 Наименование товара
                .item-product
                    .close
                        .page__img
                            img(src="assets/img/krestik.svg")
                    .page__img
                        img(src="assets/img/item-in-basket.png")
                    .column-size
                        p.page__text_sm Фармацевтический крем солнцезащитный - 50SPF,
                        p.page__text_sm 50ml
                    .price
                        p.page__text_sm 1920 ₽
                    .number
                        <div class="quantity_inner">        
                            <input type="text" class="quantity" value="1" data-max-count="20">
                            .column__plus-minus
                                <button class="bt_plus">+</button>
                                <button class="bt_minus">-</button>
                        </div>
                    .price-two
                        p.page__text_sm.green.mb-30 1920 ₽
                        a(href="#").page__text.green Убрать в список желаний
                .item-product
                    .close
                        .page__img
                            img(src="assets/img/krestik.svg")
                    .page__img
                        img(src="assets/img/item-in-basket.png")
                    .column-size
                        p.page__text_sm Фармацевтический крем солнцезащитный - 50SPF,
                        p.page__text_sm 50ml
                    .price
                        p.page__text_sm 1920 ₽
                    .number
                        <div class="quantity_inner">        
                            <input type="text" class="quantity" value="1" data-max-count="20">
                            .column__plus-minus
                                <button class="bt_plus">+</button>
                                <button class="bt_minus">-</button>
                        </div>
                    .price-two
                        p.page__text_sm.green.mb-30 1920 ₽
                        a(href="#").page__text.green Убрать в список желаний
                .item-product
                    .close
                        .page__img
                            img(src="assets/img/krestik.svg")
                    .page__img
                        img(src="assets/img/item-in-basket.png")
                    .column-size
                        p.page__text_sm Фармацевтический крем солнцезащитный - 50SPF,
                        p.page__text_sm 50ml
                    .price
                        p.page__text_sm 1920 ₽
                    .number
                        <div class="quantity_inner">        
                            <input type="text" class="quantity" value="1" data-max-count="20">
                            .column__plus-minus
                                <button class="bt_plus">+</button>
                                <button class="bt_minus">-</button>
                        </div>
                    .price-two
                        p.page__text_sm.green.mb-30 1920 ₽
                        a(href="#").page__text.green Убрать в список желаний
                .item-product
                    .close
                        .page__img
                            img(src="assets/img/krestik.svg")
                    .page__img
                        img(src="assets/img/item-in-basket.png")
                    .column-size
                        p.page__text_sm Фармацевтический крем солнцезащитный - 50SPF,
                        p.page__text_sm 50ml
                    .price
                        p.page__text_sm 1920 ₽
                    .number
                        <div class="quantity_inner">        
                            <input type="text" class="quantity" value="1" data-max-count="20">
                            .column__plus-minus
                                <button class="bt_plus">+</button>
                                <button class="bt_minus">-</button>
                        </div>
                    .price-two
                        p.page__text_sm.green.mb-30 1920 ₽
                        a(href="#").page__text.green Убрать в список желаний
                .item-product
                    .close
                        .page__img
                            img(src="assets/img/krestik.svg")
                    .page__img
                        img(src="assets/img/item-in-basket.png")
                    .column-size
                        p.page__text_sm Фармацевтический крем солнцезащитный - 50SPF,
                        p.page__text_sm 50ml
                    .price
                        p.page__text_sm 1920 ₽
                    .number
                        <div class="quantity_inner">        
                            <input type="text" class="quantity" value="1" data-max-count="20">
                            .column__plus-minus
                                <button class="bt_plus">+</button>
                                <button class="bt_minus">-</button>
                        </div>
                    .price-two
                        p.page__text_sm.green.mb-30 1920 ₽
                        a(href="#").page__text.green Убрать в список желаний
            .right-side
                .itog-wrapper
                    .page__img
                        img(src="assets/img/icon-flower.svg")
                    p.page__text_gilroy_sm Итоги заказа
                    .row-numbers
                        .page__text_15 Кол-во:
                        .page__text_15 1 шт
                    .row-numbers
                        .page__text_15 Стоимость:
                        .page__text_15 14 534 ₽
                    .button
                        .bg-button
                        a(href="pageCatalog/pageCatalog.html")
                            button.page__btn_1 <span> Оформить заказ
                .prodolzit
                    .page__img
                        img(src="assets/img/basket-green.svg")
                    a(href="#").page__text.green.center Продолжить покупки
    include ../blocks/second-subscribe
