extends templates/template

block title
	title Заголовок страницы
block append style
block content
	include modules/header-module
	include blocks/banner
	include blocks/about
	include blocks/advantages
	include blocks/leaders
	include blocks/about-second
	include blocks/products
	include blocks/collection-love
	include blocks/feedback
	include blocks/instagram
	include blocks/brands
	include blocks/subscribe
	include blocks/second-subscribe
block append script